img {
  height: 50%;
}

section {
  background-color: lightblue;
  /* add height here for now, but delete later when you add .choice-visual selector + class */
  /* height: 40vh; */
  margin: 0.1em;
}


main {
  padding: 0.1em;
  /*change flex direction on this page to have choices side by side*/
  flex-direction: row;

  /* add wrap so things go onto next line */
  flex-wrap: wrap;
}

.half-width {
  width: 49%; /* account for margin */
}

.full-width {
  width: 100%;
}

/* add this */
.choice-visual {
  height: 30vh;

  /* OPTIONAL - to vertically align the items in the choice boxes using flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-container,
.choice-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0.3em;

  height: 20vh; /* removes some whitespace --> OPTIONAL */
}

/* player choice buttons width about a third width */
.choice-container button {
  width: 32%;
}

/* make the buttons look nicer */
button {
  padding: 0.5em;
  margin: 0.1em;
  background-color: lightcoral;
  border: none;
  border-radius: 0.5em;
}

button:hover {
  background-color: lightsalmon;
}
/* optional to make the reset button look nicer */
.score-container button {
  width: 98%;
}

h2 {
  padding: 0.1em;
}

/* formatting the photo credits */
footer {
  line-height: 0.7;
  padding: 0.4rem;
}
footer a {
  font-size: 0.5rem;
  color: antiquewhite;
}

footer p {
  padding: 0.3em;
  font-size: 0.8em;
}
/* DO LAST */
#win {
  /* don't add padding or it'll show up when you reset */
  background-color: lightsalmon;
  border-radius: 0.5em;
  margin: 0;
  width: 100%;
}