body {
  background-color: #1e2d24;
}

section {
  background-color: rgb(245, 195, 237);
  color: #1e2d24;
}

.width1 {
  width: 400px;
  height: 250px;
  border: 10px solid hsl(324, 85%, 33%);
  margin: 5px;
}

.width2 {
  width: 400px;
  height: 250px;
  border: 10px solid hsl(324, 85%, 33%);
  margin: 5px;
  padding: 20px;
}

.width3 {
  width: 400px;
  height: 250px;
  border: 10px solid hsl(324, 85%, 33%);
  margin: 5px;
  padding: 20px;
  box-sizing: border-box;
}